[v-cloak] {
  display: none;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: #fdfdff;
  margin: 0;
}
a {
  cursor: pointer;
}
body {
  background-color: #212121;
}
.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.category-container {
  width: 25%;
  max-width: 25%;
  min-width: 300px;
  height: 100%;
  font-family: "Lato", sans-serif;
}
.category-container a {
  text-decoration: none;
}
.category-container .category {
  height: 100%;
  padding: 15px;
}
.category-container .category.tech {
  background-color: #0B3C5D;
}
.category-container .category.design {
  background-color: #330F0A;
}
.category-container .category.sports {
  background-color: #1E2019;
}
.category-container .category.trivia {
  background-color: #1D2731;
}
.category-container .readmore {
  display: block;
  text-align: center;
  color: #a0a0a0;
  font-size: 12px;
  text-decoration: underline;
}
ol {
  color: #fdfdff;
}
ol .post .title {
  font-size: 14px;
  color: #fdfdff;
}
ol .post .title:visited {
  color: #a0a0a0;
}
ol .post .info {
  margin: 5px 0 10px;
  font-size: 10px;
  color: #a0a0a0;
}
ol .post .info a {
  color: #a0a0a0;
}
ol .post .info .subreddit {
  font-weight: 700;
}
