@headerfontcolor: #000;
@fontcolor: #000;
@fontcolordarker: #888;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

[v-cloak] {
  display: none;
}

.hidden {
  display: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  //background-color: #f4f7f8;
}

ol {
  padding-left: 20px;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;

  color: @headerfontcolor;

  a {
    font-size: 12px;
    color: @headerfontcolor;
    &.selected {
      text-decoration: underline;
    }
  }

  h1 {
    text-align: center;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    margin: 20px 0 10px;

    span:first-child {
      color: #c0392b;
    }

  }
}

.category-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 25%;
  max-width: 100%;
  min-width: 300px;
  height: 100%;
  font-family: "Lato", sans-serif;

  .category {
    height: 100%;
    padding: 15px;

    h3 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 400;
      font-size: 42px;
      color: @fontcolor;
      margin: 0;
    }

    &.tech {
      background-color: #7CC6FE;
    }
    &.design {
      background-color: #DBF9F4;
    }
    &.sports {
      background-color: #F3D8C7;
    }
    &.trivia {
      background-color: #F8C7CC;
    }
  }
  .readmore {
    display: block;
    text-align: center;
    color: @fontcolordarker;
    font-size: 12px;
    text-decoration: underline;
  }
}


ol,
ul {
  color: @fontcolor;
  .post {
    .title {
      font-size: 14px;
      color: @fontcolor;
      &:visited {
        color: @fontcolordarker;
      }
    }

    .info {
      margin: 5px 0 10px;
      font-size: 10px;
      color: @fontcolordarker;

      a {
        color: @fontcolordarker;
      }

      .subreddit {
        font-weight: 700;
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 25%, 0);
  }

  to {
    opacity: 1.5;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
